/*code balises html*/
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
	margin: 0; padding: 0;
}

body{
    background-color:#EAE9E6;
    display : table;
	width: 100%; 
}   
div{
    display: inline;
    padding-left: 5px;
}

img{
    width: 300px;
    height: 350px;
}

section{
    background-color: white;
    width: 705px;
    height: 350px;
    margin: auto;
    padding: auto;
    box-shadow: 3px 3px 3px gray;
}
  
p{
    color: #857B7B;
}
h2{
    color: #5A4A4A;
}
i{
    position: relative; right: -180px; bottom: -80px;
    color:#E0DDDD;
    text-decoration: none;
}
hr{
    border: solid 1px;
}
/*fin code balises html*/

.logo{
    width: 100px;
    height: 100px;
}
/* code liens*/
nav{
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 300px;
}
.liensdiv{
    padding: 10px;
    float: right;
}
.liens{
    text-decoration: none;
    color: #756A6A;
    text-align: center;
    background-color: #F5F4F2;
    padding: 5px;
}

.fond :hover{
    background-color:#635756;
    color: white;
}
.lienscate{
    text-decoration: none;
}
.liensbas{
    text-decoration: none;
    color: #5A4A4A;
}
/*fin code liens*/
/*code blocs section*/
.ibouge{
    float: left;
    display: inline;
    width: 50%;
    margin-top: -34px;
    position: relative; left: -5px;
}
.tbouge{
    float: right;
    display: inline;
    width: 50%;
    align-items: center;
}

.date{
    text-align: right;
    padding-right: 20px;
    position: relative; bottom: -15px;
}
.cate{
    display: inline;
    background-color: #F9F8F8;
    padding: 5px;
    position: relative; bottom: -80px;
}
/*fin code blocs section*/

/*code pagination*/
.pre{
   background-color: #A69E9C;
   padding: 5px;
   color: white;
   text-decoration: none;
}
.pre :hover{
    background-color: #5A4A4A;
}

.sui :hover{
    background-color: #5A4A4A;
}
.suipre{
    padding-left: 550px;
    }
/*fin code pagination*/

/*code bas de page*/
.bastext{
    display: inline;
}

.petitcar{
    font-size: 10px;
    padding-left: 152px;
    margin-top: -3px;
}

.sectbas{
    width: 700px;
    height: 350px;
    margin: auto;
    padding: auto;
}
/*fin code bas de page*/

#fa{
    position: relative; right: -70px; bottom: -80px;
    color:#E0DDDD;
    text-decoration: none;
}
.logo{
   position: relative; left: 40px;
   width: 100px;
   height: 100px;
   box-shadow: 5px 5px 5px gray;
   border: solid 2px gray;
  border-radius: 50px 50px;
}