#contenu {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 70px 30px 60px 30px;
    background-color: #FFFFFF;
  }
  article time{
    text-transform: uppercase;
    position: relative;
    top: -40px;
    right: -265px;
    width: 180px;
    padding: 3px 3px 3px 3px;
    background-color: #FFFFFF;
  }
  article h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    font-weight: 700;
    background-color: #FFFFFF;
  }
  article p {
    font-size: 16px;
    background-color: #FFFFFF;
  }
  article .categorie {
    text-transform: uppercase;
    text-decoration: none;
    color:#635756;
    background-color: #F1F1EE;
    display: flex;
    position: relative;
    bottom: -70px;
    width:120px; 
    height: 30px;
    padding: 4px;
  }
  .categorie:hover{
    background-color: #635756;
    color: #F1F1EE;
  }
  /* Pagination */
  .pagination {
    text-align: center;
  }
  .pagination a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #A59D9B;
    color: #F4F4F3;
    padding: 10px;
  }
  .pagination a:hover {
    display: inline-block;
    background-color: #5A4A4A;
    color:#f4f4f3 ;
    font-size: 16px;
  }
  /*---------------------------------------
    Ligne de séparation             
  -----------------------------------------*/
  hr {
    margin-top: 50px;
    width: 1000px;
  }
  /*---------------------------------------
    Footer Japon             
  -----------------------------------------*/
  #BasDePage{
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .infosChukAgence {
    height: 70px;
  }
  .copyright{
    width: 500px;
    color: #594A4A;
    font-weight: bold;
    margin-top: -10px;
  }
  .nomAgence {
    margin-left:110px;
    color: #594A4A;
  }
  .pageslegales {
    width: 500px
  }
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-top: -59px;
  }
  footer ul li {
    list-style-type: none;
  }
  footer ul li a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    word-spacing: 4px;
    padding: 10px;
    color:#827876;
  }